* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  background: #0b1120;
  color: #e5e7eb;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: #020617;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  z-index: 1000;
}

.navbar a {
  color: #e5e7eb;
  text-decoration: none;
  margin-left: 20px;
}

.navbar a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  padding: 80px 40px;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

/* SECTIONS */
section {
  padding: 60px 80px;
  border-top: 1px solid #1e293b;
}

h2 {
  color: #38bdf8;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* CARDS */
.card {
  background: #020617;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.card h3 {
  margin-bottom: 5px;
}

/* CERTS */
.cert-list li {
  margin-bottom: 8px;
}
html {
  scroll-behavior: smooth;
}
.nav-link.active {
  color: #38bdf8;
  border-bottom: 2px solid #38bdf8;
  padding-bottom: 4px;
}
.timeline {
  border-left: 2px solid #38bdf8;
  padding-left: 30px;
}

.timeline-item {
  margin-bottom: 40px;
  position: relative;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -41px;
  top: 5px;
  width: 12px;
  height: 12px;
  background: #38bdf8;
  border-radius: 50%;
}

.timeline-date {
  font-size: 0.9rem;
  color: #94a3b8;
}
